@model IEnumerable<Order>

@{ 
    foreach (var order in Model)
    {
        @Html.Raw(order.TicketLayout);
    }
}

@*<div class='quote-container'>
    <i class='pin'></i>
    <blockquote class='note green'>
        #0001
        <cite class='details'>DET</cite>
        <cite class='timer'>00m00s</cite>
        <cite class='command'>CMD</cite>
    </blockquote>
</div>*@