/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}




.quote-container {
    margin-top: 50px;
    position: relative;
}

.note {
    color: #333;
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 15px;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.3);
}

.note .details {
    display: block;
    margin: 40px 0 0 0;
    text-align: left;
}

.note .timer {
    display: block;
    margin: 40px 0 0 0;
    text-align: center;
}

.note .command {
    display: block;
    margin: 40px 0 0 0;
    text-align: right;
}

.red {
    background: #ee6464;
}

.yellow {
    background: #eae672;
}

.green {
    background: #2eae58;
}

.pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 1;
}

.pin:after {
    background-color: #A31;
    background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1), 06 inset 3px 3px 3px hsla(0,0%,100%,.2), 07 inset -3px -3px 3px hsla(0,0%,0%,.2), 08 23px 20px 3px hsla(0,0%,0%,.15);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
}

.pin:before {
    background-color: hsla(0,0%,0%,0.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';
    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;
    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -o-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
}

.received {
    position: relative;
    animation: item-received 1s 1;
}

@keyframes item-received {
    from {
        left: -1000px;
    }

    to {
        left: 0px;
    }
}

.sent {
    position: relative;
    animation: item-sent 1s 1;
}

@keyframes item-sent {
    from {
        left: 0px;
    }

    to {
        left: 600px;
    }
}

.dragged {
    animation: item-dragged 1s 1;
}

@keyframes item-dragged {
    from {
        width: 200px;
    }

    to {
        width: 0px;
    }
}

.dropped {
    animation: item-dropped 1s 1;
}

@keyframes item-dropped {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}